<header class="mb-5">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <ng-container *ngIf="isLoggedIn$ | async; else loggedOutTemp">
            <span>Logged in</span>
            <a (click)="logoutClicked()" class="mr-3">logout</a>
        </ng-container>
        <ng-template #loggedOutTemp>
            <a (click)="loginClicked()" class="mr-3">login</a>
        </ng-template>


        <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse" [ngClass]="{'collapse': isCollapsed}">
            <ul class="navbar-nav mr-auto">
                <li *ngFor="let item of routes" class="nav-item" routerLinkActive="active"><a class="nav-link"
                        [routerLink]="[item.route]">{{item.name}}</a></li>
            </ul>
        </div>
    </nav>
</header>