// reboot
@import "assets/scss/functions";
@import "assets/scss/variables";
@import "assets/scss/mixins";
@import "assets/scss/reboot";

// grid
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@import "assets/scss/functions";
@import "assets/scss/variables";

@import "assets/scss/mixins/breakpoints";
@import "assets/scss/mixins/grid-framework";
@import "assets/scss/mixins/grid";

@import "assets/scss/grid";
@import "assets/scss/utilities/display";
@import "assets/scss/utilities/flex";
@import "assets/scss/utilities/spacing";
